[submodule "submodules/AnalogGym"]
	path = submodules/AnalogGym
	url = https://github.com/CODA-Team/AnalogGym

[submodule "submodules/cora.opamp"]
	path = submodules/cora.opamp
	url = https://gitlab.tugraz.at/00BDBB47257F60E4/cora.opamp

[submodule "submodules/analog-circuit-design"]
	path = submodules/analog-circuit-design
	url = https://github.com/iic-jku/analog-circuit-design/
